<!-- sign up form -->
<form method="post">
    <!--
	 TODO do something about "value="
	 e.g. use a template engine
       -->
    <input type="text" name="username_signup" placeholder="Username">
    <input type="email" name="email_signup" placeholder="Email Address">
    <input type="password" name="password_signup" placeholder="Password">
    <input type="submit" value="Sign Up" name="submit_signup">
</form>

<!-- log in form -->
<form method="post">
    <input type="text" name="username_login" placeholder="Username">
    <input type="password" name="password_login" placeholder="Password">
    <input type="submit" value="Log In" name="submit_login">
</form>
